version: '3.8'
services:
  minio-service:
    image: minio/minio:RELEASE.2025-02-07T23-21-09Z-cpuv1
    ports:
      - "${MINIO_API_HOST_PORT}:80"
      - "${MINIO_CONSOLE_HOST_PORT}:81"
    environment:
      no_proxy: ${no_proxy},localhost
      http_proxy: ${http_proxy}
      https_proxy: ${https_proxy}
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_API_HOST_PORT: ${MINIO_API_HOST_PORT}
      MINIO_CONSOLE_HOST_PORT: ${MINIO_CONSOLE_HOST_PORT}
      LP_IP: ${LP_IP}
    command: |
      server /data 
      --address ":80"
      --console-address ":81"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/minio/health/live"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    restart: unless-stopped


networks:
  my_network:
    driver: bridge