services:
  model-downloader:
    build:
      context: ..
      dockerfile: docker/Dockerfile.downloader
      args:
        - HTTP_PROXY=${HTTP_PROXY}
        - HTTPS_PROXY=${HTTPS_PROXY}
    image: model-downloader-lp:${TAG:-rc1}
    container_name: model-downloader
    environment:
      - HTTP_PROXY=${HTTP_PROXY}
      - HTTPS_PROXY=${HTTPS_PROXY}
      - http_proxy=${http_proxy}
      - https_proxy=${https_proxy}
      - MODELS_DIR=/workspace/models
      - WORKLOAD_DIST=${WORKLOAD_DIST:-workload_to_pipeline.json}
    volumes:
      - ../models:/workspace/models
      - ../configs:/workspace/configs
      - ../results:/workspace/results
    command: ["/bin/bash", "-c", "/workspace/scripts/downloadModels.sh"]

  pipeline-runner:
    build:
      context: ..
      dockerfile: docker/Dockerfile.pipeline
      args:
        - HTTP_PROXY=${HTTP_PROXY}
        - HTTPS_PROXY=${HTTPS_PROXY}
    image: pipeline-runner-lp:${TAG:-rc1}
    deploy:
      mode: replicated
      replicas: ${PIPELINE_COUNT:-1}
    depends_on:
      model-downloader:
        condition: service_completed_successfully
    environment:
      - VLM_WORKLOAD_ENABLED=0
      - VIDEO_NAME=${VIDEO_NAME}
      - LP_IP=${LP_IP}
      - ROI_COORDINATES=${ROI_COORDINATES}
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - THRESHOLD=${THRESHOLD:-7}
      - LP_BASE_DIR=${LP_BASE_DIR}
      - DISPLAY=${DISPLAY:-:0}
      - RENDER_MODE=${RENDER_MODE:-0}    
      - CONTAINER_NAME=${CONTAINER_NAME:-gst}  
      - CAMERA_STREAM=${CAMERA_STREAM:-camera_to_workload.json}
      - WORKLOAD_DIST=${WORKLOAD_DIST:-workload_to_pipeline.json}
      - BATCH_SIZE_DETECT=${BATCH_SIZE_DETECT:-1}
      - BATCH_SIZE_CLASSIFY=${BATCH_SIZE_CLASSIFY:-1}
    
    volumes:
      - ../models:/home/pipeline-server/models
      - ../performance-tools/sample-media:/home/pipeline-server/sample-media
      - ${RESULTS_DIR:-../results}:/home/pipeline-server/results
      - ../configs:/home/pipeline-server/configs
      - ../src/pipelines:/home/pipeline-server/pipelines
      - /tmp/.X11-unix:/tmp/.X11-unix:rw 
    network_mode: host
    privileged: true

volumes:
  minio_data:
    driver: local
networks:
  my_network:
    driver: bridge